# Database Credentials
DB_USER=<db_user>
DB_PASSWORD=<db_pass>
DB_NAME=taskflow
DB_HOST=127.0.0.1
DB_PORT=5432

# Application Settings
PORT=4000
JWT_SECRET=<server_secret_key>
FRONTEND_URL=http://localhost:3000
